.wrap {
  position: relative;
  z-index: 3;
  height: 85px;
  background: #fff;
  text-align: center;
}
.inner-box {
  display: flex;
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.border-black {
  background-color: beige;
  border: 1px solid black;
  margin: 30px;
  width: 70%;
}
